version: "3.9"

services:
  db:
    image: postgres:15
    container_name: auth_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Vasantha
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: auth_backend
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: Vasantha
      DB_NAME: authdb
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: auth_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3001:3001"

volumes:
  postgres_data:
